body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    /* background-color: blue; */
}

hr {
    width: 90%;
}

#board {
    /* width: 400px; */
    /* height: 400px; */
    width: 80vw;  /* Board width set to 80% of viewport width */
    height: 80vw; 

    /* background-color: #cdc1b5; */
    background-color: transparent;
    border: 4px solid transparent; /* #bbada0 */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}

.tile {
    /* width: 90px;
    height: 90px;
    border: 5px solid #bbada0;

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center; */
    width: 25%;  /* Tiles will take up 25% of the board's width */
    height: 25%; /* Tiles will take up 25% of the board's height */
    /* border: 5px solid #bbada0; */
    border: 5px solid #F4E0AF;
    font-size: 5vw;  /* Font size of the number based on viewport width */
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}


/* colored tiles */

.x2 {
    /* background-color: #eee4da; */
    /* color: #727371; */
    color: transparent;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./img/watermelon.jpg");
    object-fit: cover;
    aspect-ratio: 1/1;
}

.x4 {
    /* background-color: #ece0ca;
    color: #727371; */
    color: transparent;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./img/lemon.jpg");
    object-fit: cover;
    aspect-ratio: 1/1;
}

.x8 {
    /* background-color: #f4b17a;
    color: white; */
    color: transparent;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./img/guava.jpg");
    object-fit: cover;
    aspect-ratio: 1/1;
}

.x16{
    /* background-color: #f59575;
    color: white; */
    color: transparent;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./img/avocado.jpg");
    object-fit: cover;
    aspect-ratio: 1/1;
}

.x32{
    /* background-color: #f57c5f;
    color: white; */
    color: transparent;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./img/kiwi.jpg");
    object-fit: cover;
    aspect-ratio: 1/1;
}

.x64{
    /* background-color: #f65d3b;
    color: white; */
    color: transparent;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./img/dragonfruit.jpg");
    object-fit: cover;
    aspect-ratio: 1/1;
}

.x128{
    /* background-color: #edce71;
    color: white; */
    color: transparent;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./img/prutas.jpg");
    object-fit: cover;
    aspect-ratio: 1/1;
}

.x256{
    /* background-color: #edcc63;
    color: white; */
    color: transparent;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./img/papaya.jpg");
    object-fit: cover;
    aspect-ratio: 1/1;
}

.x512{
    /* background-color: #edc651;
    color: white; */
    color: transparent;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./img/prutas2.jpg");
    object-fit: cover;
    aspect-ratio: 1/1;
}

.x1024{
    /* background-color: #eec744;
    color: white; */
    color: transparent;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./img/blueberrymascot2.png");
    object-fit: cover;
    aspect-ratio: 1/1;
}

.x2048{
    /* background-color: #ecc230;
    color: white; */
    color: transparent;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./img/orangemascot2.png");
    object-fit: cover;
    aspect-ratio: 1/1;
}

.x4096 {
    /* background-color: #fe3d3d;
    color: white; */
    color: transparent;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./img/starfruit2.png");
    object-fit: cover;
    aspect-ratio: 1/1;
}

.x8192 {
    /* background-color: #ff2020;
    color: white; */
    color: transparent;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./img/peach2.png");
    object-fit: cover;
    aspect-ratio: 1/1;
}

/* Popup styles */
#game-over-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid #bbada0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
#start-game-btn{
    margin-top: 22vh;
}
#start-game-btn,
#restart-game-btn,
#exit-game-btn {
    padding: 10px 20px;
    background-color: #f4c531;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-game-btn:hover,
#restart-game-btn:hover,
#exit-game-btn:hover {
    background-color: #e5b82a;
}

#start-game-btn,
#exit-game-btn {
    width: 100%;
}

#menu_container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 55px;
    background-color: transparent;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 9px;
    box-shadow: 0px 0px 2px 0px lightgray;
}
#home_btn{
    padding: 10px 20px;
    background-color: #2A3335;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
    /* display: flex; */
    justify-content: center;
    /* text-align: center; */
}
.home_icon{
    width: 38px;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.main-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
    width: 45%;
    background-color: transparent;
    margin-top: 70px;
}
.main-container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image: url("./img/bg5.jpg");
    /* object-fit: cover; */
    /* aspect-ratio: 16/9; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e5b82a;
}
@media (max-width: 600px) {
    #board {
        width: 90vw;  /* Increase board size on smaller screens */
        height: 90vw; /* Keep square aspect ratio */
    }

    .tile {
        width: 25%;  /* Increase tile size */
        height: 25%; /* Increase tile height */
        font-size: 8vw;  /* Adjust font size for smaller screens */
    }
}